.header__icon-open-close {
    transform-origin: top left;
  }

.header__icon-open-close::after {
    content: "";
    top: 4px;
  }

.header__icon-open-close,
.header__icon-open-close::after {
    display: block;
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #383838;
    transition-duration: 0.25s;
}

.header__menu-toggle:checked
~ .header__menu-button
> .header__icon-open-close {
    transform: rotate(45deg) scale(1.4);
}

.header__menu-toggle:checked
~ .header__menu-button
> .header__icon-open-close::after {
    top: 0;
    transform: rotate(90deg);
}




