.header__menu-links {
    margin: 0;
    margin-inline-start: 157px;
    /* margin-inline-start: 248px; */
    /* margin-inline-start: auto; */
    /* margin-inline-start: calc(100%/5.7); */
    transition: margin-inline-start 0.5s ease-in-out;
}