.descr-list {
  margin: 15px 0 0 0;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  max-width: 536px;
  gap: 10px;
}