.button {
    padding: 16px 22px;
    background-color: black;
    border-radius: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    color: white;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
}