.intro__title {
  max-width: 80%;
  font-weight: 600;
  font-size: 86px;
  line-height: 90px;
  letter-spacing: -1px;
  color: #fff;
  text-align: center;
  margin: 80px auto;
}

@media screen and (max-width: 1024px) {
  .intro__title {
    font-size: 54px;
    line-height: 60px;
  }
}

@media screen and (max-width: 768px) {
  .intro__title {
    font-size: 64px;
    line-height: 78px;
  }
}

@media screen and (max-width: 476px) {
  .intro__title {
    max-width: 90%;
    font-size: 36px;
    line-height: 44px;
    margin: 74px auto 30px;
  }
}

