.telegram-box__ext-link {
  padding: 16px 22px;
  border-radius: 50px;
  margin: 10px;
}

@media screen and (max-width: 1024px) {
  .telegram-box__ext-link {
    margin: 20px
  }
}

@media screen and (max-width: 500px) {
  .telegram-box__ext-link {
    margin-bottom: 30px;
  }
}