.logo_second-image {
    inline-size: 192px;
    block-size: 36px;
    opacity: 1;
    transition: opacity 0.5s linear, inline-size 0.5s ease-in-out, block-size 0.5s ease-in-out;
}


@media screen and (max-width: 999px) {
    .logo_second-image {
        inline-size: 150px;
        block-size: 29px;
    }
}