.header__menu-links-button {
    padding: 16px 22px;
    background-color: #252525;
    border-radius: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    color: white;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    transition: padding 0.5s ease-in-out, font-size 0.5s ease-in-out;
    text-decoration: none;
    display: inline-block;
  }

  .header__menu-links-button:hover {
    background-color: #333333;
  }
  
  @media screen and (max-width: 1220px) {
    .header__menu-links-button {
      padding: 14px 20px;
      font-size: 14px;
    }
  }

  @media screen and (max-width: 1000px) {
    .header__menu-links-button {
      padding: 12px 18px;
      font-size: 14px;
    }
  }

  @media screen and (max-width: 969px) {
    .header__menu-links-button {
      padding: 10px 16px;
      font-size: 12px;
    }
  }
