.popup-course__item {
  background-color: #FFF;
  border-radius: 60px;
  color: #000;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  max-width: 1140px;
  min-width: 270px;
  width: 100%;
  margin: auto;
  gap: 30px;
  overflow: visible;
}

@media screen and (max-width: 1420px) {
  .popup-course__item {
    max-width: calc(88% - 80px);
  }
}

@media screen and (max-width: 1024px) {
  .popup-course__item {
    max-width: calc(83% - 60px);
    font-size: 16px;
    line-height: 20px;
    gap: 20px;
  }
}

@media screen and (max-width: 525px) {
  .popup-course__item {
    border-radius: 30px;
    padding: 15px;
    max-width: calc(100% - 50px);
  }
}
