.logo {
    inline-size: 101px;
    block-size: 100px;
    background-image: url(../../images/logo/logo-no-scroll.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
    transition: opacity 0.5s linear, 
                inline-size 0.5s ease-in-out, 
                block-size 0.5s ease-in-out,
                background-image 0.5s ease-in-out;
}



@media screen and (max-width: 999px) {
    .logo {
        inline-size: 150px;
        block-size: 100%;
    }
}


@media screen and (max-width: 550px) {
    .logo {
        background-image: url(../../images/logo/logo-scroll.png); 
        background-position: left;

      }
}

