.popup-partner__container {
  background: #FFFFFF;
  color: black;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 60px;
  width: 885px;
  position: relative;
  margin: auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media screen and (max-width: 1023px) {
  .popup-partner__container {
    max-width: 594px;
  }
}

@media screen and (max-width: 500px) {
  .popup-partner__container {
    max-width: 320px;
  }
}