.popup-partner__close-btn {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #000;
    text-align: center;
    font-feature-settings: 'pnum'on, 'lnum'on;
    margin-bottom: 30px;
    margin-left: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    position: static !important; 
}
