.partners__logo-box {
    margin: auto;
    max-width: 885px;
    border: 2px solid #EAF0FF;
    border-radius: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 29px;
    padding-bottom: 49px;
}


@media screen and (max-width: 1023px) {
    .partners__logo-box {
        border: none;
        padding-top: 19px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 290px));
        gap: 10px;
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .partners__logo-box {
        margin-left: 15px;
        margin-right: 15px;
        justify-content: center;
    }
}