.header__logo-container {
    flex-basis: 192px;
    flex-shrink: 0;
    transition: flex-basis 0.5s ease-in-out;
    border: 1px solid red;
}

@media screen and (max-width: 999px) {
    .header__logo-container {
        flex-basis: 150px;
        
    }
}