.courses__title {
  font-weight: 600;
  font-size: 60px;
  line-height: 68px;
  letter-spacing: -1px;
  margin: 0 0 40px 10px;
}

@media screen and (max-width: 533px) {
  .courses__title {
    font-size: 11.250vw;
    line-height: 13.750vw;
    margin-left: 15px;
  }
}