.req-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.5px;
  color: #2B2B2B;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .req-list {
    font-size: 16px;
    line-height: 20px;
  }
}