.telegram-box__text {
  color: #fff;
  margin-right: auto;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.5px;
}

@media screen and (max-width: 865px) {
  .telegram-box__text {
    font-size: 14px;
    line-height: 18px;
  }
}