.programming__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -1px;
  color: #000;
  margin: 0 auto 10px;
  padding-top: 50px;
  max-width: fit-content;
}

@media screen and (max-width: 480px) {
  .programming__title {
    letter-spacing: -0.5px;
    font-size: 7.500vw;
    line-height: 9.063vw;
  }
}