@import url(./vendor/normalize/normalize.css);

@import url(./vendor/fonts/fonts.css);

/* Block page */

@import url(./blocks/page/page.css);
@import url(./blocks/page/__container/page__container.css);

/* Block header */

@import url(./blocks/header/header.css);
@import url(./blocks/header/_scroll/header_scroll.css);
@import url(./blocks/header/__menu-links/header__menu-links.css);
@import url(./blocks/header/__menu-links/_scroll/header__menu-links_scroll.css);
@import url(./blocks/header/__button/header__button.css);

/* Block logo */

@import url(./blocks/logo/logo.css);
@import url(./blocks/logo/_second-image/logo_second-image.css);

/* Block header-menu-links */

@import url(./blocks/header-menu-links/header-menu-links.css);
@import url(./blocks/header-menu-links/__item/header-menu-links__item.css);
@import url(./blocks/header-menu-links/__link/header-menu-links__link.css);

/* Block button */

@import url(./blocks/button/button.css);

/*Block principles */

.principles {
    min-width: 1440px;
    background-color: #AE46FF;
    border-radius: 60px;
    margin: 0 0 0 -110px;
}

.principles:first-of-type {
    margin: 0;
}

.principles__title {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -1px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}

.principles__text {
    margin: 40px 0 0 0;
    padding: 0 0 160px 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 68px;
    text-align: center;
    letter-spacing: -1px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}

.principles__image {
    width: 610px;
    height: 420px;
    border-radius: 500px;
}

.principles__container {
    display: flex;
    height: 1000px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.scroll-container {
    display: flex;    
}

.test {
    width: 100%;
    height: 100vh;
    border: 1px solid red;
}