@import url(./vendor/normalize/normalize.css);

@import url(./vendor/fonts/fonts.css);

/* Block page */

@import url(./blocks/page/page.css);
@import url(./blocks/page/__container/page__container.css);

/* Links */

@import url(./blocks/ext-links/ext-links.css);

/* Block header */

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo-container/header__logo-container.css);
@import url(./blocks/header/__logo-container/_position_center/header__logo-container_position_center.css);
@import url(./blocks/header/_scroll/header_scroll.css);
@import url(./blocks/header/_open-menu/header_open-menu.css);
@import url(./blocks/header/__navigation/header__navigation.css);
@import url(./blocks/header/__menu-links/header__menu-links.css);
@import url(./blocks/header/__hamburger-menu/header__hamburger-menu.css);
@import url(./blocks/header/__menu-image/header__menu-image.css);
@import url(./blocks/header/__menu-links-item/header__menu-links-item.css);
@import url(./blocks/header/__menu-links-link/header__menu-links-link.css);
@import url(./blocks/header/__menu-links-button/header__menu-links-button.css);
@import url(./blocks/header/__menu-toggle/header__menu-toggle.css);
@import url(./blocks/header/__menu-button/header__menu-button.css);
@import url(./blocks/header/__icon-open-close/header__icon-open-close.css);

/* Block menu-image */

@import url(./blocks/menu-image/menu-image.css);


/* Block logo */

@import url(./blocks/logo/logo.css);
@import url(./blocks/logo/_second-image/logo_second-image.css);
@import url(./blocks/logo/_open-menu-image/logo_open-menu-image.css);


/* Block intro */

@import url(./blocks/intro/intro.css);
@import url(./blocks/intro/__lead/intro__lead.css);
@import url(./blocks/intro/__title/intro__title.css);
@import url(./blocks/intro/__ext-link/intro__ext-link.css);
@import url(./blocks/intro/__description/intro__description.css);
@import url(./blocks/telegram-box/telegram-box.css);
@import url(./blocks/telegram-box/_mobile/telegram-box_mobile.css);
@import url(./blocks/telegram-box/__pic/telegram-box__pic.css);
@import url(./blocks/telegram-box/__text/telegram-box__text.css);
@import url(./blocks/telegram-box/__ext-link/telegram-box__ext-link.css);


/* Block courses */

@import url(./blocks/courses/courses.css);
@import url(./blocks/courses/__title/courses__title.css);
@import url(./blocks/programming/programming.css);
@import url(./blocks/programming/__title/programming__title.css);
@import url(./blocks/programming/__text/programming__text.css);
@import url(./blocks/programming/__grid/programming__grid.css);
@import url(./blocks/course-item/course-item.css);
@import url(./blocks/course-item/__name/course-item__name.css);
@import url(./blocks/req-list/req-list.css);
@import url(./blocks/req-list/_wrap/req-list_wrap.css);
@import url(./blocks/req-list/__pic/req-list__pic.css);
@import url(./blocks/req-list/__item/req-list__item.css);
@import url(./blocks/tag-list/tag-list.css);
@import url(./blocks/tag-list/__tag/tag-list__tag.css);
@import url(./blocks/course-item/__descr/course-item__descr.css);
@import url(./blocks/course-item/__paragraph/course-item__paragraph.css);
@import url(./blocks/course-item/__links/course-item__links.css);
@import url(./blocks/course-item/__ext-link/course-item__ext-link.css);
@import url(./blocks/course-item/__browse/course-item__browse.css);
@import url(./blocks/courses/__other/courses__other.css);
@import url(./blocks/course-price/course-price.css);
@import url(./blocks/course-price/__title/course-price__title.css);
@import url(./blocks/course-price/__ext-link/course-price__ext-link.css);
@import url(./blocks/course-price/__list-name/course-price__list-name.css);
@import url(./blocks/course-price/__list/course-price__list.css);
@import url(./blocks/course-price/__list/_included/course-price__list_included.css);
@import url(./blocks/course-price/__list/_not-included/course-price__list_not-included.css);
@import url(./blocks/descr-list/descr-list.css);
@import url(./blocks/descr-list/__item/descr-list__item.css);
@import url(./blocks/descr-list/__item/_cross/descr-list__item_cross.css);
@import url(./blocks/descr-list/_popup/descr-list_popup.css);

/* Block about */

@import url(./blocks/about/about.css);
@import url(./blocks/about/__title/about__title.css);
@import url(./blocks/about/__subtitle/about__subtitle.css);
@import url(./blocks/about/__container/about__container.css);
@import url(./blocks/about/__frame/about__frame.css);
@import url(./blocks/about/__figure/about__figure.css);
@import url(./blocks/about/__image/about__image.css);
@import url(./blocks/about/__overlay/about__overlay.css);
@import url(./blocks/about/__overlay/_type/about__overlay_type_yellow.css);
@import url(./blocks/about/__overlay/_type/about__overlay_type_orange.css);
@import url(./blocks/about/__figcaption/about__figcaption.css);
@import url(./blocks/about/__figcaption/_color/about__figcaption_color_white.css);
@import url(./blocks/about/__list-heading/about__list-heading.css);
@import url(./blocks/about/__list/about__list.css);
@import url(./blocks/about/__list-item/about__list-item.css);

/* Block partners */

@import url(./blocks/partners/partners.css);
@import url(./blocks/partners/partners__title/partners__title.css);
@import url(./blocks/partners/partners__logo-box/partners__logo-box.css);
@import url(./blocks/partners/partners__logo-link/partners__logo-link.css);
@import url(./blocks/partners/partners__partner-logo/partners__partner-logo.css);

@import url(./blocks/popup-partner/popup-partner.css);
@import url(./blocks/popup-partner/popup-partner__container/popup-partner__container.css);
@import url(./blocks/popup-partner/popup-partner__logo-box/popup-partner__logo-box.css);
@import url(./blocks/popup-partner/popup-partner__logo-img/popup-partner__logo-img.css);
@import url(./blocks/popup-partner/popup-partner__text/popup-partner__text.css);
@import url(./blocks/popup-partner/popup-partner__сlose-btn/popup-partner__сlose-btn.css);
@import url(./blocks/popup-partner/popup-partner_opened/popup-partner_opened.css);

/* Popups */

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close-btn/popup__close-btn.css);

/* Course popup */

@import url(./blocks/popup-course/popup-course.css);
@import url(./blocks/popup-course/__item/popup-course__item.css);
@import url(./blocks/popup-course/__name/popup-course__name.css);
@import url(./blocks/popup-course/__descr/popup-course__descr.css);
@import url(./blocks/popup-course/__paragraph/popup-course__paragraph.css);
@import url(./blocks/popup-course/__links/popup-course__links.css);
@import url(./blocks/popup-course/__ext-link/popup-course__ext-link.css);
@import url(./blocks/popup-course/__close-btn/popup-course__close-btn.css);