.popup__close-btn {
  cursor: pointer;
  border: none;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  background: url(../../../images/popup/popup_close.png) no-repeat;
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 1024px) {
  .popup__close-btn {
    top: -35px;
    right: 0;
    background: url(../../../images/popup/popup_close_white.png) no-repeat;
  }
}
