.header__hamburger-menu {
    display: flex;
    inline-size: 100%;
    align-items: center;
  }

@media screen and (max-width: 1300px) {
  .header__hamburger-menu {
    inline-size: auto;
    margin-inline-start: auto;
  }
}

@media screen and (max-width: 1110px) {
  .header__hamburger-menu {
    block-size: 100%;
  }
}

