.header__hamburger-menu {
    display: flex;
    margin-inline-start: auto;
    inline-size: 100%;
    align-items: center;
  }

  @media screen and (max-width: 1303px) {
    .header__hamburger-menu {
      margin-inline-start: 20px;
    }
  }
  @media screen and (max-width: 550px) {
    .header__hamburger-menu {
      inline-size: auto;
      block-size: 100%;
    }
  }