.header__button {
    margin-inline-start: 126px;
    font-size: 16px;
    line-height: 20px;
    transition: padding 0.5s ease-in-out, font-size 0.5s ease-in-out;
}

@media screen and (max-width: 1300px) {
    .header__button {
        margin-inline-start: auto;
    }
}

@media screen and (max-width: 1220px) {
    .header__button {
        /* margin-inline-start: 32px; */
        padding: 14px 20px;
        font-size: 14px;
    }
}

@media screen and (max-width: 1000px) {
    .header__button {
        padding: 12px 18px;
        font-size: 14px;
    }
}

@media screen and (max-width: 969px) {
    .header__button {
        padding: 10px 16px;
        font-size: 12px;
    }
}

@media screen and (max-width: 869px) {
    .header__button {
        margin-inline-start: 30px;
    }
}

/* @media screen and (max-width: 560px) {
    .header__button {
        block-size: 42px;
    }
} */