.logo_open-menu-image {
    background-image: url(../../../images/logo/logo-no-scroll.svg);
    background-position: center;
}


@media screen and (max-width: 744px) {
    .logo_open-menu-image {
        max-inline-size: 150px;
    }
}

@media screen and (max-width: 550px) {
    .logo_open-menu-image {
        max-inline-size: 105px;
    }
}
