.popup {
  background-color: rgba(0,0,0,.5);
  border: 0;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  margin: 0;
  opacity: 0;
  overflow-y: scroll;
  padding: 50px 0;
  position: fixed;
  top: 0;
  left: 0;
  scrollbar-width: none;
  transition: visibility .5s linear,opacity .5s linear;
  visibility: hidden;
  min-width: 320px;
  width: 100%;
  z-index: 100;
}