.popup {
  align-items: center;
  background-color: rgba(0,0,0,.5);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  min-height: 100vh;
  min-width: 320px;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: visibility .5s linear,opacity .5s linear;
  visibility: hidden;
  width: 100%; 
  z-index: 5;
}