.header__menu-links-link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    line-height: 22px;
    white-space: nowrap;
    transition: font-size 0.15s ease-in-out;
  }

  .header__menu-links-link:hover {
    opacity: 0.8;
  }

  @media screen and (max-width: 1190px) {
    .header__menu-links-link {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 1110px) {
    .header__menu-links-link {
      font-size: 30px;
      line-height: 37px;
      font-weight: 600;
    }
  }

  @media screen and (max-width: 550px) {
    .header__menu-links-link {
      font-size: 18px;
      line-height: 22px;
      font-weight: 500;
    }
  }